/* style.css
---------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ------
COLOR PALETTE
https://coolors.co/f7ebec-ead4e1-ddbdd5-ac9fbb-59656f-1d1e2c
#F3F6FB - Snow White
#F7EBEC - Lavender Blush
#EAD4E1 - Queen Pink
#DDBDD5 - Thistle
#AC9FBB - Heliotrope Gray
#59656F - Black Coral
#1D1E2C - Raisin Black
------ */

/* ------ 
Shades of Silver 
#E5E4E2 - Platinum
#C4AEAD - Silver Pink
#989898 - Spanish Gray
------ */


/* Global Syles
---------------------------------------*/
:root {
  --white: #F3F6FB; 
  --lavender: #F7EBEC;
  --pink: #EAD4E1;
  --purple1: #DDBDD5;
  --purple2: #AC9FBB;
  --dark1: #59656F;
  --dark2: #1D1E2C;
  --silver1: #E5E4E2;
  --silver2: #C4AEAD;
  --silver3: #989898;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  font-family: 'Playfair Display', serif;
  overflow-wrap: break-word;
}
body {
  background: linear-gradient(to top, var(--lavender), var(--pink), var(--purple1));
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
    
/* Header
---------------------------------------*/
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  min-height: 8vh;
  top: 0%;
  width: 100%;
  background: linear-gradient(to right, var(--silver1), var(--silver2), var(--silver3));
}
header h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 1rem;
}

/* Button Styling - New Book
---------------------------------------*/
  button {  
    display: block;
    padding: 25px 25px;
    text-align: center;
  }
  #new-book {
    border: none;
    outline: none;
    font-size: 2rem;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    color: var(--dark2);
    background: var(--purple1);
    transition: 0.5s ease;
    position: fixed;
    bottom: 5%;
    right: 5%;
  }

/* New Book Pop-Up (Add)
---------------------------------------*/
#container {
  transform: scale(0);
  transition: 0.5s ease-in-out;
  padding: 2rem;
  margin: 2rem;
  box-shadow: 5px 5px 35px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 300px;
  z-index: 10000;
  background: var(--white);
}
#container h2 {
  color: var(--white);
  text-align: left;
  background: var(--dark1);
  padding: 1rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: -1rem -1rem 1rem -1rem;
  font-size: 2rem;
  font-weight: 500;
}
#container input[type="text"],
#container input[type="number"],
select {
  display: flex;
  width: 95%;
  padding: 1rem;
  border: 0;
  background: var(--silver3);
  font-size: 1rem;
  outline: 0;
  color: var(--white);
}
#container input[type="submit"] {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
  border: 0;
  background: var(--silver2);
  font-size: 1.4rem;
  outline: 0;
  color: var(--white);
}
#container #close {
    border: 1px solid var(--dark2);
    outline: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    color: var(--dark2);
    background: var(--silver1);
    transition: 0.5s ease;
    position: fixed;
    top: 5%;
    right: 5%;
}
#container #close:hover {
  color: rgb(29, 30, 44, 0.5);
  transition: 0.3s ease-in-out;
}

/* PopUp & Bookshelf
---------------------------------------*/
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.bookshelf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  max-width: 1000;
  position: absolute;
  top: 12%;
  left: 15%;
  margin: 2rem;
}

/* Book (As Added to Library)
---------------------------------------*/
.book {
  width: 250px;
  height: 350px;
  border-radius: 5px;
  margin: 2rem 1rem;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease-in-out;
  background: var(--white);
}

.book:hover {
  box-shadow: 3px 3px 30px 10px rgba(0, 0, 0, 0.25);
}

.book h2 {
  background: var(--dark1);
  color: var(--white);
  padding: 0.5rem 0;
  margin: -0.5rem 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.book h3 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.book h3 {
  margin: 1rem 1rem;
}

.book .trash,
.book .update {
  outline: none;
  border: none;
  width: 100%;
  display: inline-block;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.book .update {
  background: var(--purple2);
  color: var(--dark2);
  position: relative;
  top: 50px;
}

.book .trash {
  background: var(--dark2);
  color: var(--white);
  position: relative;
  top: 50px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Responsive Design
---------------------------------------*/
@media screen and (max-width: 360px) {
  #popup #container {
    width: 260px;
    padding-top: 10px;
  }
  #container h1 {
    font-size: 32px;
  }
  #container .close {
    font-size: 30px;
  }
};

@media screen and (max-width: 420px) {
  #container {
    width: 320px;
  }
  #container h1 {
    font-size: 36px;
  }
  #container .close {
    font-size: 32px;
  }
};